* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}
h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
.navbar{
  width:100%;
  height:80px;
  background-Color:blue;
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.right{
  width:150px;
  display:flex;
  justify-content: space-between;
  align-items:center;
}